{% extends "html/header.html"%}

{% block content %}
<script type="text/javascript">
  var priceBTC = {{BTC}}
  var priceETH = {{ETH}}
  var priceWAVES = {{WAVES}}
  tmp = {'BTC': priceBTC, 'ETH': priceETH, 'WAVES': priceWAVES}
</script>
<script type="text/javascript">
window.onload = function(){
  document.getElementById('id_amountBTC').onchange = function(){
        document.getElementById('id_amountBTCtoken').value = (this.value/tmp['BTC']).toFixed(8)
  };
  document.getElementById('id_amountETH').onchange = function(){
        document.getElementById('id_amountETHtoken').value = (this.value/tmp['ETH']).toFixed(8)
  };
  document.getElementById('id_amountWAVES').onchange = function(){
        document.getElementById('id_amountWAVEStoken').value = (this.value/tmp['WAVES']).toFixed(8)
  };
  document.getElementById('id_SamountBTC').onchange = function(){
        document.getElementById('id_SamountBTCtoken').value = (this.value/tmp['BTC']).toFixed(8)
  };
  document.getElementById('id_SamountETH').onchange = function(){
        document.getElementById('id_SamountETHtoken').value = (this.value/tmp['ETH']).toFixed(8)
  };
  document.getElementById('id_SamountWAVES').onchange = function(){
        document.getElementById('id_SamountWAVEStoken').value = (this.value/tmp['WAVES']).toFixed(8)
  };
  document.getElementById('id_amountBTCtoken').onchange = function(){
        document.getElementById('id_amountBTC').value = (this.value*tmp['BTC']).toFixed(8)
  };
  document.getElementById('id_amountETHtoken').onchange = function(){
        document.getElementById('id_amountETH').value = (this.value*tmp['ETH']).toFixed(8)
  };
  document.getElementById('id_amountWAVEStoken').onchange = function(){
        document.getElementById('id_amountWAVES').value = (this.value*tmp['WAVES']).toFixed(8)
  };
  document.getElementById('id_SamountBTCtoken').onchange = function(){
        document.getElementById('id_SamountBTC').value = (this.value*tmp['BTC']).toFixed(8)
  };
  document.getElementById('id_SamountETHtoken').onchange = function(){
        document.getElementById('id_SamountETH').value = (this.value*tmp['ETH']).toFixed(8)
  };
  document.getElementById('id_SamountWAVEStoken').onchange = function(){
        document.getElementById('id_SamountWAVES').value = (this.value*tmp['WAVES']).toFixed(8)
  };
};
</script>
Статус робота: {% if status %}OnLine {% else %} OffLine{% endif %}
<form method="post" id='aa' action="{% url 'robot:index'%}">
  {% csrf_token %}
  <div class="col">
    <div class="card card-body">
      <div class="row">
        <div class="col">
          <p>Стоимость токена:
          <br />BTC: {{BTC}}   ETH: {{ETH}}  WAVES: {{WAVES}}</p>
        </div>
        <div class="col">
          {{timepriceForm}} сек.
          <button name="submit" value="pricetime" class="btn btn-primary">Применить</button>
          </div>
        </div>
    </div>
  </div>
  <div class="container text-center" style="padding-top:2rem;">
   <div class="row">
    <div class="col-6">
      <div class="card card-body" align="left">
        <h4>Покупка:</h4>
          <div class="row">
            <div class="col">
              <p>{{buyForm.amountBTC.label}}:</p>
              <p>{{buyForm.amountBTCtoken.label}}:</p>
              <p>{{buyForm.percentBTC.label}}:</p>
              <p>{{buyForm.amountETH.label}}:</p>
              <p>{{buyForm.amountETHtoken.label}}:</p>
              <p>{{buyForm.percentETH.label}}:</p>
              <p>{{buyForm.amountWAVES.label}}:</p>
              <p>{{buyForm.amountWAVEStoken.label}}:</p>
              <p>{{buyForm.percentWAVES.label}}:</p>
            </div>
            <div class="col">
              <p>{{buyForm.amountBTC}}</p>
              <p>{{buyForm.amountBTCtoken}}</p>
              <p>{{buyForm.percentBTC}}</p>
              <p>{{buyForm.amountETH}}</p>
              <p>{{buyForm.amountETHtoken}}</p>
              <p>{{buyForm.percentETH}}</p>
              <p>{{buyForm.amountWAVES}}</p>
              <p>{{buyForm.amountWAVEStoken}}</p>
              <p>{{buyForm.percentWAVES}}</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-body" align="left">
        <h4>Продажа:</h4>
          <div class="row">
            <div class="col">
            <p>{{sellForm.SamountBTC.label}}:</p>
            <p>{{sellForm.SamountBTCtoken.label}}:</p>
            <p>{{sellForm.SpercentBTC.label}}:</p>
            <p>{{sellForm.SamountETH.label}}:</p>
            <p>{{sellForm.SamountETHtoken.label}}:</p>
            <p>{{sellForm.SpercentETH.label}}:</p>
            <p>{{sellForm.SamountWAVES.label}}:</p>
            <p>{{sellForm.SamountWAVEStoken.label}}:</p>
            <p>{{sellForm.SpercentWAVES.label}}:</p>
          </div>
          <div class="col">
            <p>{{sellForm.SamountBTC}}</p>
            <p>{{sellForm.SamountBTCtoken}}</p>
            <p>{{sellForm.SpercentBTC}}</p>
            <p>{{sellForm.SamountETH}}</p>
            <p>{{sellForm.SamountETHtoken}}</p>
            <p>{{sellForm.SpercentETH}}</p>
            <p>{{sellForm.SamountWAVES}}</p>
            <p>{{sellForm.SamountWAVEStoken}}</p>
            <p>{{sellForm.SpercentWAVES}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col">
        {{statusForm}}
      </div>
      <div class="col">
        <p><button name="submit" value="apply" class="btn btn-primary">Применить настройки</button></p>
        <button name="submit" value="clear" class="btn btn-primary">Очистить</button>
      </div>
    </div>
  </div>
  <div class="row text-center" style="padding-top:2rem;">
    <div class="col" align="left">
      <p>
        {{timecheckForm}} сек.
        <button name="submit" value="timecheck" class="btn btn-primary">Применить</button>
        {{threshholdform.threshhold.label}} {{threshholdform.threshhold}} %
        <button name="submit" value="threshhold" class="btn btn-primary">Применить</button>
      </p>
      <div class="row">
        <div class="col">
          <p>Объём выкупа: </P>
          <p>{{buybackForm.bbamountBTC.label}}: {{buybackForm.bbamountBTC}}</p>
          <p>{{buybackForm.bbamountETH.label}}: {{buybackForm.bbamountETH}}</p>
          <p>{{buybackForm.bbamountWAVES.label}}: {{buybackForm.bbamountWAVES}}</p>
        </div>
        <div class="col">
          {{buybackForm.timebuyback.label}} {{buybackForm.timebuyback}} сек.
          <p><button name="submit" value="buyback" class="btn btn-primary">Применить</button>
          <p><button name="submit"value="cancelbuyback" class="btn btn-primary">Не выставлять</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock content %}
